@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
.reveal .bold {
  font-weight: bold; }
.reveal .italic {
  font-style: italic; }
.reveal .medium {
  font-size: .8em; }
  .reveal .medium p {
    margin-bottom: 1em;
    line-height: 1.4 !important; }
.reveal .small {
  font-size: .6em; }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700; }
.reveal h5 {
  text-transform: uppercase !important;
  font-size: .75em;
  margin: 0 0 2em !important; }
  .reveal h5 span {
    background-color: white;
    padding: 0 1em; }
  .reveal h5:after {
    content: "";
    border-color: inherit;
    border-bottom: 1px solid;
    display: block;
    margin-top: -.5em; }
.reveal .margin-top {
  margin-top: 2em !important; }
.reveal blockquote {
  box-shadow: none; }
.reveal .key {
  line-height: 1.5em;
  margin-bottom: 30px;
  text-align: left; }
.reveal .key:first-child {
  margin-top: 2em; }
.reveal .key:before {
  content: "";
  display: inline-block;
  margin-right: .5em;
  height: 1.5em;
  width: 1.5em;
  margin-bottom: -21px; }
.reveal .readability {
  color: #47d9bf; }
  .reveal .readability:before {
    background-color: #47d9bf; }
.reveal .performance {
  color: #04518c; }
  .reveal .performance:before {
    background-color: #04518c; }
.reveal .cross {
  color: #f2d03b; }
  .reveal .cross:before {
    background-color: #f2d03b; }
.reveal .col-25 {
  float: left;
  width: 23.5%; }
.reveal .col-50 {
  float: left;
  width: 47%; }
.reveal .col-75 {
  float: left;
  width: 70.5%; }
.reveal [class^="col"] + [class^="col"] {
  margin-left: 3%; }

.reveal .border-example {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  margin: 0 auto 1em; }
.reveal .border-example.wide {
  width: 140px; }
.reveal .border-example-1 {
  border-radius: 5px; }
.reveal .border-example-2 {
  border-radius: 20px; }
.reveal .border-example-3 {
  border-radius: 50%; }
.reveal .shadow-example {
  height: 100px;
  width: 100px;
  background: #f2d03b;
  margin: 0 auto 1em; }
.reveal .shadow-example-1 {
  box-shadow: 0 0 12px #000; }
.reveal .shadow-example-2 {
  box-shadow: 12px 12px 0 #000; }
.reveal .shadow-example-3 {
  box-shadow: 12px 12px 12px #000; }
.reveal .opacity-example {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  margin: 0 auto 1em; }
.reveal .opacity-example-1 {
  opacity: 1; }
.reveal .opacity-example-2 {
  opacity: .5; }
.reveal .opacity-example-3 {
  opacity: .2; }
.reveal .rgba-example-1 {
  background: rgba(102, 221, 139, 0.4); }
.reveal .text-example {
  color: #47d9bf;
  font-weight: bold; }
.reveal .text-example-1 {
  text-shadow: 0 0 3px #000; }
.reveal .text-example-2 {
  text-shadow: 3px 3px 0 #000; }
.reveal .text-example-3 {
  text-shadow: 3px 3px 3px #000, -3px -3px 3px red; }
.reveal .gradient-example-1 {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  margin: 0 auto 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #47d9bf), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */ }
.reveal .gradient-example-2 {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  margin: 0 auto 1em;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #47d9bf), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(left, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to right, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */ }
.reveal .gradient-example-3 {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  margin: 0 auto 1em;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #47d9bf), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-radial-gradient(center, ellipse cover, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #47d9bf 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */ }
.reveal .transform-example {
  height: 100px;
  width: 100px;
  background: #f2d03b;
  margin: 0 auto 1em; }
.reveal .transform-example-2 {
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }
.reveal .transform-example-3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.reveal .transition-example-1 {
  height: 100px;
  width: 100px;
  background: #f2d03b;
  margin: 0 auto 1em;
  -webkit-transition: background-color .4s ease; }
  .reveal .transition-example-1:hover {
    background-color: #47d9bf;
    -webkit-transition: background-color .4s ease; }
.reveal .transition-example-2 {
  height: 100px;
  width: 100px;
  background: #f2d03b;
  margin: 0 auto 1em;
  -webkit-transition: all .4s ease;
  position: relative;
  top: 0;
  box-shadow: 0 0 2px; }
  .reveal .transition-example-2:hover {
    -webkit-transform: scale(1.5) translate(0, -40px);
    -webkit-transition: all .4s ease;
    box-shadow: 0 40px 20px; }
.reveal .only-element {
  height: 100px;
  width: 100px;
  background: #f2d03b;
  margin: 0 auto 1em;
  position: relative; }
  .reveal .only-element:before, .reveal .only-element:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    height: 20px;
    width: 20px;
    background: #04518c;
    margin: 0 auto 1em; }
  .reveal .only-element:after {
    right: -5px;
    left: auto; }
.reveal .word-bubble {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  margin: 0 auto 1em;
  width: 230px;
  position: relative;
  border-radius: 15px;
  content: "Hey there!";
  color: white;
  padding: 30px; }
.reveal .word-bubble:after {
  content: "";
  position: absolute;
  bottom: -60px;
  right: 5px;
  border-color: #47d9bf transparent transparent;
  border-width: 34px 22.1px;
  border-style: solid; }

@-webkit-keyframes stretch-it {
  25% {
    opacity: .2;
    -webkit-transform: scaleX(3); }

  0%, 50%, 100% {
    opacity: 1;
    -webkit-transform: scaleX(1); }

  70% {
    opacity: .8;
    -webkit-transform: scaleX(0.4); } }

.animation-example {
  height: 100px;
  width: 100px;
  background: #47d9bf;
  -webkit-animation-name: stretch-it;
  -webkit-transform-origin: top left;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 10; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #34424b; }

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #34424b;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #3ca3da;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #92cbea;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #207aa9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #34424b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3ca3da;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #3ca3da; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #3ca3da; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #3ca3da; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #3ca3da; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #92cbea; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #92cbea; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #92cbea; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #92cbea; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3ca3da;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #3ca3da; }
