/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);



$ltblue:#3CA3DA;
$greyblue: #34424b;
$aqua:#47D9BF;
$dandelion: #F2D03B;
$royal: #04518C;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$mainColor: $greyblue;
$headingFont: 'Open Sans Condensed', sans-serif;
$headingColor: $greyblue;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: $ltblue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);


//Don't namespace the animation definition




.reveal {
	.bold {
		font-weight: bold;
	}
	.italic {
		font-style: italic;
	}
	.medium {
		font-size: .8em;
		p {
			margin-bottom: 1em;
			line-height: 1.4!important;
		}

	}
	.small {
		font-size: .6em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
	}

	h5 {
		text-transform: uppercase!important;
		font-size: .75em;
		margin: 0 0 2em!important;
		span {
			background-color: white;
			padding: 0 1em;
		}
		&:after {
			content: "";
			border-color:inherit;
			border-bottom: 1px solid;
			display: block;	
			margin-top: -.5em;

		}
	}

	.margin-top {
		margin-top: 2em!important;
	}

	blockquote {
		box-shadow: none;
	}
	.key {
		line-height: 1.5em;
		margin-bottom: 30px;
		text-align: left;
	}

	.key:first-child {
		margin-top: 2em;
	}
	.key:before {
		content: "";
		display: inline-block;
		margin-right: .5em;
		height: 1.5em;
		width: 1.5em;
		margin-bottom: -21px;
		
	}

	.readability {
		color: $aqua;
		&:before {
			background-color: $aqua;
		}
	}

	.performance {
		color: $royal;
		&:before {
			background-color: $royal;
		}
	}

	.cross {
		color: $dandelion;
		&:before {
			background-color: $dandelion;
		}
	}

	@mixin column($width){
		float: left;
		$small: $width*.94;
		width: $small;
	}


	.col-25 {
		@include column(25%);
	}

	.col-50 {
		@include column(50%);
	}

	.col-75 {
		@include column(75%);
	}

	[class^="col"] + [class^="col"] {
		margin-left: 3%;
	}
}



//------------- CSS 3 examples

@mixin example( $color, $size ) {
	    height: $size;
	    width: $size;
	    background: $color;
	    margin: 0 auto 1em;
}

.reveal {
	.border-example {
		@include example($color: $aqua, $size: 100px);
	}
	.border-example.wide {
		width: 140px;
	}

	.border-example-1 {
	    border-radius:5px;
	}
	.border-example-2 {
	    border-radius:20px;
	}
	.border-example-3 {
	    border-radius:50%;
	}

	.shadow-example {
		@include example($color: $dandelion, $size: 100px);
	}

	.shadow-example-1 {
	    box-shadow: 0 0 12px #000;
	}
	.shadow-example-2 {
	    box-shadow: 12px 12px 0 #000;
	}
	.shadow-example-3 {
	    box-shadow: 12px 12px 12px #000;
	}

	.opacity-example {
		@include example($color: $aqua, $size: 100px);
	}

	.opacity-example-1 {
	    opacity: 1;
	}
	.opacity-example-2 {
	    opacity: .5;
	}
	.opacity-example-3 {
	    opacity: .2;
	}

	.rgba-example-1 {
    background: rgba(102, 221, 139, 0.4);
}

	.text-example {
		color: $aqua;
		font-weight: bold
	}

	.text-example-1 {
	    text-shadow: 0 0 3px #000;
	}
	.text-example-2 {
	    text-shadow: 3px 3px 0 #000;
	}
	.text-example-3 {
	    text-shadow: 3px 3px 3px #000, -3px -3px 3px red;
	}

	.gradient-example-1 {
		@include example($color: $aqua, $size: 100px);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$aqua), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(top,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to bottom,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */

	}

	.gradient-example-2 {
		@include example($color: $aqua, $size: 100px);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$aqua), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(left, $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to right,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	}

	.gradient-example-3 {
		@include example($color: $aqua, $size: 100px);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$aqua), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-radial-gradient(center, ellipse cover,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  $aqua 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	}

	// Transforms and animations

	.transform-example {
		@include example($color: $dandelion, $size: 100px);
	}

	.transform-example-1 {
	    
	}
	.transform-example-2 {
	    -webkit-transform: scale(1.25);
	    transform: scale(1.25);
	}
	.transform-example-3 {
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}

	.transition-example-1 {
	    @include example($color: $dandelion, $size: 100px);
	    -webkit-transition: background-color .4s ease;
	    &:hover {
	    	background-color: $aqua;
	    	-webkit-transition: background-color .4s ease;
	    }
	}
	.transition-example-2 {
	    @include example($color: $dandelion, $size: 100px);
	    -webkit-transition: all .4s ease;
	    position: relative;
	    top: 0;
	    box-shadow: 0 0 2px;
	    &:hover {
	    	-webkit-transform: scale(1.5) translate(0,-40px);
	    	-webkit-transition: all .4s ease;
	    	box-shadow: 0 40px 20px;
	    }
	}


	//-- Pseudo elements

	.only-element {
		@include example($color: $dandelion, $size: 100px);
		position: relative;

		&:before, &:after {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			@include example($color: $royal, $size: 20px);
		}
		&:after {
			right: -5px;
			left: auto;
		}
	}

	.word-bubble {
		@include example($color: $aqua, $size: 100px);
		width: 230px;
		position: relative;
		border-radius: 15px;
		content: "Hey there!";
		color: white;
		padding: 30px;
	}

	.word-bubble:after {
		$length: 34px;
		content: "";
		position: absolute;
		bottom: - ($length*2 - 8px);
		right: 5px;
		border-color: $aqua transparent transparent;
		border-width: $length $length*.65;
		border-style: solid;
		
	}
}


@-webkit-keyframes stretch-it {
  25% {
    opacity: .2;
    -webkit-transform: scaleX(3);
  }
  
  0%, 50%, 100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
  }

  70% {
  	opacity: .8;
    -webkit-transform: scaleX(.4);
  }
}

.animation-example {
	height: 100px;
	width: 100px;
	background: $aqua;
	-webkit-animation-name: stretch-it;
	-webkit-transform-origin: top left;
	-webkit-animation-timing-function: ease;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 10;
}




// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------